p {
    margin: 0;
}

body {
    font-family: Roboto, Arial, serif;
    margin: 0;
    padding: 0 0 0 0;
    /*top 80 left 96 right 24*/
    background-color: var(--color-background);
    color: white;
}

:root {
    --color-background: #222222;
    --color-hover: #5b5b5b;
    --color-border: #2d2d2d;
    --color-toolTip: #ffffff;
    --color-item-hover: #868686;
}