.header {
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: var(--light-background);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--light-button-border);
}

.toolTip {
    position: absolute;
    background-color: var(--light-tooltip-hover);
    padding: 4px 8px;
    bottom: -30px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
    color: white;
}
.second-section button:hover .toolTip {
    opacity: 1;
}
.last-section button:hover {
    background-color: #ffffff;
}
.last-section button:hover .toolTip {
    opacity: 1;
}

.first-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.first-section div {
    margin: 0 10px;
    cursor: pointer;
}

.youtube-menu::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/burger.svg');
    background-size: contain;
    background-position: center;
}
.youtube-logo::before {
    content: "";
    display: inline-block;
    width: 96px;
    height: 18px;
    background-image: url('../assets/icons/youtube-logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    margin: 0 10px 0 35px;
    max-width: 500px;
}
.second-section button:hover {
    background-color: var(--light-button-hover);
}
.search-bar {
    flex: 1;
    width: 0;
    height: 32px;
    padding-left: 30px;
    font-size: 1.0rem;
    border: 1px solid var(--light-button-border);
    border-radius: 20px 0 0 20px;
    box-shadow: none;
    background-color: var(--light-background);
    font-weight: bold;
}

.search-bar::placeholder {
    font-size: 0.96rem;
}

.search-btn {
    display: inherit;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 36px;
    width: 60px;
    background-color: var(--light-button-background);
    border: 1px solid var(--light-button-border);
    border-left: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}
.search-btn::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/search.svg');
    /*background-size: cover;*/
}

.search-voice-btn {
    display: inherit;
    justify-content: inherit;
    align-items: center;

    height: 36px;
    width: 36px;
    border-radius: 20px;
    background-color: var(--light-button-background);
    border: 1px solid var(--light-button-border);
    margin-left: 10px;
    cursor: pointer;
}
.search-voice-btn::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/voice-search.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.search-voice-icon {
    height: 20px;
}
.last-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-section button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
    border-radius: 50px;
    margin-right: 5px;
    cursor: pointer;

    width: 36px;
    height: 36px;
}

.last-section .add-video-icon:hover {
    background-color: var(--light-button-hover);
}
.last-section .notice-icon:hover {
    background-color: var(--light-button-hover);
}

/* header button icon::before */
.last-section button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
}
/* header image insert*/
.add-video-icon::before {
    background-image: url('../assets/icons/add-video.svg');
}
.notice-icon::before {
    background-image: url('../assets/icons/notice.svg');
}
.user-icon::before {
    background-image: url('../assets/icons/user-icon.svg');
}

