.header {
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: #b8b8b8;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #5b5b5b;
}

.first-section {
    display: inherit;
    align-items: center;
}
.first-section>img {
    cursor: pointer;
}
.burger-menu {
    width: 36px;
    /*height: 100px;*/
    margin: 0 24px;
}

.youtube-logo {
    height: 100px;
    /*margin: 0 24px;*/
}

.second-section {
    display: inherit;
    justify-content: center;
    align-items: inherit;
    height: inherit;  /* .header : 100px */

    flex: 1;
    margin: 0 35px 0 70px;
    max-width: 500px;

}
.second-section>button:hover {
    background-color: #5b5b5b;
}
.toolTip {
    position: absolute;
    background-color: #5b5b5b;
    padding: 4px 8px;
    bottom: -30px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.15s;
}
.second-section>button:hover .toolTip {
    opacity: 1;
}
.search-bar {
    flex: inherit; /* .second-section : 1 */
    width: 0;
    height: 36px;
    padding-left: 10px;
    font-size: 1.0rem;
    border: 1px solid #5b5b5b;
    border-radius: 2px;
    box-shadow: none;
    background-color: #000;
    font-weight: bold;
    color: #949494;
}

.search-bar::placeholder {
    font-size: 0.96rem;
}

.search-btn {
    display: inherit;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 40px;
    width: 60px;
    background-color: #949494;
    border: 1px solid #6f6f6f;
    border-left: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-icon {
    width: 24px;
}
.search-voice-btn {
    display: inherit;
    justify-content: inherit;
    align-items: center;

    height: 36px;
    width: 36px;
    border: none;
    border-radius: 50px;
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
}
.search-voice-icon {
    height: 36px;
}
.toolTip {

}
.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-section>button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
    border-radius: 50px;
    margin-right: 5px;
    cursor: pointer;

    width: 36px;
    height: 36px;
}
.third-section>button:hover {
    background-color: #5b5b5b;
}
.third-section>button>img {
    width: 24px;
    height: 24px;

}


