.side-bar {
    display: flow;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    top: 40px;
    left: 0;

    width: 50px;
    height: 500px;
}
.sidebar-link {

}
.sidebar-link>img {

}
.sidebar-link>span {

}