.side-bar {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    background-color: var(--color-background);
    width: 70px;
    z-index: 200;
    padding-top: 10px;
}
.sidebar-link {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: var(--color-item-hover);
}
.sidebar-link img {
    width: 34px;
    height: 34px;
    margin-bottom: 4px;
}
.sidebar-link span {
    font-size: 10px;
}